.empty-auth_dialog {
  /* margin: 0 auto;*/
  max-width: 400px;
  width: 100%;
  /* border: none;
  padding: 10px;
  border-radius: 16px; */
}

.empty-auth_title {
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 1em;
}

.empty-auth_form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    width: 100%;
    cursor: pointer;
    border: 1px solid #0000002A;
    outline: none;
    padding: 15px 10px;
    border-radius: 14px;
    transition: border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 18px;
  }

  button {
    padding: 15px;
    background: #233c66;
    color: #91c153;
    font-size: 18px;

    &:hover {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

.empty-auth_text {
  margin-top: 1em;
  text-align: center;
  font-size: 14px;
  color: red;

  span {
    font-size: 14px;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
}


@media(width < 550px) {
  .empty-auth_dialog {
    max-width: 350px;
    width: 100%;
  }

  .empty-auth_title {
    font-size: 1.1em;
  }

  .empty-auth_form {
    margin-bottom: 1em;


    input {
      padding: 10px;
      font-size: 16px;
    }

    button {
      padding: 10px;
      font-size: 16px;
    }


  }

  .empty-auth_text {
    font-size: 12px;

    span {
      font-size: 12px;
    }
  }
}