.empty-auth_dialog {
  max-width: 400px;
  width: 100%;
}

.empty-auth_title {
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 1em;
}

.empty-auth_form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }
  }


  input {
    cursor: pointer;
    border: 1px solid #0000002A;
    outline: none;
    padding: 10px 15px 8px;
    border-radius: 14px;
    transition: border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }

  button {

    &:hover {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

.empty-auth_text {
  margin-top: 1em;
  text-align: center;
  font-size: 14px;
  color: red;

  span {
    font-size: 14px;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
}