.dialog_favorites_content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  /* .electronik_list_item {} */
}


@media (width < 550px) {
  .dialog_favorites_content {
   
    .electronik_list_item {
      flex: 0 1 210px;
    }
  }
}