.dialog_favorites_content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: auto;
  height: 380px;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}


.clearFavorites {
  cursor: pointer;
  border: 1px solid #0000002A;
  outline: none;
  padding: 10px 15px 8px;
  border-radius: 15px;
  background: none;
}

/* Убираем скролл-бар для Chrome, Safari и Opera */
/* .dialog_favorites_content */

@media (width < 580px) {
  .dialog_favorites_content {
    height: 350px;

    .electronik_list_item {
      flex: 0 1 calc(50% - 10px);
    }
  }
}

@media (width < 450px) {
  .dialog_favorites_content {


    .electronik_list_item {
      flex: 0 1 calc(50% - 10px);

      img {
        height: 200px;
      }
    }
  }
}