.logIn_dialog {
  max-width: 400px;
  width: 100%;
}

.logIn_title {
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 1em;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 1.3em;

  input {
    cursor: pointer;
    border: 1px solid #0000002A;
    outline: none;
    padding: 10px 15px 8px;
    border-radius: 8px;
    transition: border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }

  button {

    &:hover {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}