* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 10px;
  overscroll-behavior-y: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.shopsmart_logo {
  cursor: pointer;
  object-fit: cover;
  flex-shrink: 0;
  width: 150px;
  height: 40px;
}


.empty-btn {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 15px 8px;
  border-radius: 15px;
  transition: border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    /* transform: scale(1.05); */
    -webkit-box-shadow: 0px 4px 41px -9px rgba(34, 60, 80, 0.44);
    -moz-box-shadow: 0px 4px 41px -9px rgba(34, 60, 80, 0.44);
    box-shadow: 0px 4px 41px -9px rgba(34, 60, 80, 0.44);
  }
}

.header_content,
.main,
.footer {
  margin-top: 2em;
}

/* ? content ==================================================================================== */
.header_content {
  position: relative;
  width: 100%;
  /* height: 400px; */
  overflow: hidden;
  border-radius: 10px;
  transition: all 1s ease;
  border: 1px solid #0000001A;
}

.nav_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  border: 1px solid #0000002A;
  padding: 10px 15px;
  border-radius: 10px;
}

@media (width < 1000px) {
  .header_content {
    width: 100%;
    /* height: 300px; */
  }

  .left_slide_show_arrow,
  .right_slide_show_arrow {
    top: 8.5em;
  }
}

@media (width < 710px) {
  .header_content {
    width: 100%;
    /* height: 250px; */
  }

  .left_slide_show_arrow,
  .right_slide_show_arrow {
    top: 7em;
  }
}


@media(width < 550px) {
  body {
    padding-bottom: 80px;
  }
}