.header_slide_show {
  position: relative;
}

.left_slide_show_arrow,
.right_slide_show_arrow {
  position: absolute;
  top: 11em;
  width: 37px;
  height: 37px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 1s ease;
}

.left_slide_show_arrow {
  left: 10px;
}

.right_slide_show_arrow {
  right: 10px;
}
