.header_slide_show {
  position: relative;
}

.left_slide_show_arrow,
.right_slide_show_arrow {
  position: absolute;
  top: 13.3em;
  width: 36px;
  height: 36px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #0000001A;
  /* border: none; */
  outline: none;
  cursor: pointer;
  z-index: 10;
  transition: all 1s ease;
  background: rgb(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  &:hover,
  &:active {
    /* background: #0000001A; */
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }
}

.left_slide_show_arrow {
  left: 10px;
}

.right_slide_show_arrow {
  right: 10px;
}

.header_catrgory_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

@media(width < 1200px) {

  .left_slide_show_arrow,
  .right_slide_show_arrow {
    display: none;
  }
}