/* ? section style ======================================================================= */
.empty_content-text {
  font-size: 24px;
  margin-top: 1em;
}

.empty-product_list {
  margin-top: 1em;
}

.empty-product_list:first-child {
  margin-top: 0;
}

.electronik_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.electronik_list_item {
  flex: 0 1 250px;
  /* border: 1px solid #0000001A; */
  border-radius: 20px;
  padding: 10px;
  transition: border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    -webkit-box-shadow: 0px 4px 41px -9px rgba(34, 60, 80, 0.44);
    -moz-box-shadow: 0px 4px 41px -9px rgba(34, 60, 80, 0.44);
    box-shadow: 0px 4px 41px -9px rgba(34, 60, 80, 0.44);
  }
}

.empty-item_content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.empty-product_img {
  width: 100%;
  height: 270px;
  border: 1px solid #0000001A;
  border-radius: 14px;
  object-fit: cover;
}

.empty-product_favorites {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #0000001A;
  cursor: pointer;
  transition: background 0.2s ease;
}

.empty-product_favorites:hover,
.empty-product_favorites:focus,
.empty-product_favorites:active,
.empty-product_favorites.is-active {
  background: #0000001A;
}

.empty-product_favorites path {
  stroke: #233c66;
  fill: none;
  transition: fill 0.2s ease, stroke 0.2s ease;
}

.empty-product_favorites:hover path,
.empty-product_favorites:focus path,
.empty-product_favorites:active path,
.empty-product_favorites.is-active path {
  fill: #91c153;
}


.empty-product_name {
  font-size: 20px;
}

.empty-about_product_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.empty-price_list {
  list-style: none;
  line-height: 12px;
}

.empty-price_list_wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px;
}

.empty-old_price {
  color: #999;
  font-size: 14px;
  text-decoration: line-through;
  font-weight: 400;
}

.empty-price_discount {
  background: red;
  color: white;
  padding: 2px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}

.empty-new_price {
  color: #ff4444;
  font-size: 20px;
  font-weight: bold;
}

.empty-product_buy {
  background: #233c66;
  transition: border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 16px;
  color: #91c153;
}



@media(width < 550px) {
  .electronik_list_item {
    flex: 1 0 200px;
    border: 1px solid #0000001A;
    border-radius: 20px;
    padding: 10px;
    transition: border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      -webkit-box-shadow: 0px 4px 41px -9px rgba(34, 60, 80, 0.44);
      -moz-box-shadow: 0px 4px 41px -9px rgba(34, 60, 80, 0.44);
      box-shadow: 0px 4px 41px -9px rgba(34, 60, 80, 0.44);
    }
  }

  .empty-item_content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .empty-product_img {
    width: 100%;
    height: 240px;
    border: 1px solid #0000001A;
    border-radius: 14px;
    object-fit: cover;
  }
}

@media(width < 300px) {}