/* ? section style ======================================================================= */
.empty_content-text {
  font-size: 24px;
  margin-top: 1em;
}

.empty-product_item-error {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    /* border: 1px solid black; */
    width: 190px;
    height: 210px;
    object-fit: cover;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    color: #1F2026;
  }
}

.empty-product_list {
  margin-top: 1em;
}

.empty-product_list:first-child {
  margin-top: 0;
}

.electronik_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.electronik_list_item {
  flex: 0 1 250px;
  border: 1px solid #0000001A;
  border-radius: 10px;
  padding: 10px;
  transition:
    border .4s ease,
    transform 0.35s ease,
    box-shadow 0.45s ease,
    background-color 0.35s ease;

  &:hover {
    -webkit-box-shadow: 0px 4px 32px 13px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 32px 13px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 32px 13px rgba(34, 60, 80, 0.2);
  }
}

.empty-item_content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.empty-product_img {
  width: 100%;
  height: 270px;
  border: 1px solid #0000001A;
  border-radius: 6.5px;
  object-fit: cover;
}

.empty-product_favorites {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 30px;
  height: 30px;
  padding: 5px 5px 3px 5px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #0000001A;
  cursor: pointer;
  transition: background 0.2s ease;
}


.empty-product_favorites:active,
.empty-product_favorites.is-active {
  background: #0000001A;
}

.empty-product_favorites path {
  stroke: #233c66;
  fill: none;
  transition: fill 0.2s ease, stroke 0.2s ease;
}

.empty-product_favorites:active path,
.empty-product_favorites.is-active path {
  fill: red;
  stroke: #0000001A;
}

.empty-product_name {
  font-size: 20px;
}

.empty-about_product_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.empty-price_list {
  list-style: none;
  line-height: 12px;
}

.empty-price_list_wrapper {
  display: flex;
  gap: 6px;
  margin-bottom: 2px;
  /* border: 1px solid black; */
}

.empty-old_price {
  color: #999;
  text-decoration: line-through;
  font-weight: 400;
}

.empty-price_discount {
  /* background: none; */
  color: red;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  padding-top: 2px;
}

.empty-new_price {
  color: #ff4444;
  font-size: 20px;
  font-weight: bold;
}

.empty-product_buy {
  background: #233c66;
  transition: border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px !important;
  color: #91c153;
}

@media(width < 1200px) {
  .electronik_list_item {

    &:hover {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: 0px 4px 32px 10px rgba(34, 60, 40, 0.2);
    }
  }
}


@media(width < 800px) {
  .electronik_list_item {
    &:hover {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }


  .empty-product_item-error {
    width: 100%;
    text-align: center;

    img {
      width: 190px;
      height: 210px;
      object-fit: cover;
    }

    h1 {
      font-size: 22px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      color: #1F2026;
    }
  }
}

@media(width < 690px) {
  .empty-product_item-error {
    h1 {
      font-size: 18px;
    }

    p {
      font-size: 14px;
    }
  }

  .empty-price_list_wrapper {
    gap: 4px;
  }



  .empty-product_favorites {
    width: 26px;
    height: 26px;
    padding: 4px 4px 3px 4px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #0000001A;
    cursor: pointer;
    transition: background 0.2s ease;
  }
}

@media(width < 550px) {
  .empty-product_name {
    font-size: 16px;
  }

  .empty-old_price {
    font-size: 14px;
  }

  .empty-price_discount {
    font-size: 11px;
  }

  .empty-new_price {
    color: #ff4444;
    font-size: 16px;
    font-weight: bold;
  }

  .electronik_list_item {
    flex: 1 0 180px;
    padding: 10px;

    &:hover {
      border: 1px solid #0000001A;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  .empty-item_content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .empty-product_img {
    height: 240px;
  }
}

@media(width < 480px) {

  .empty-btn {
    padding: 5px 7px 4px;
  }

  .empty-product_buy {
    font-size: 12px;
  }
}

@media(width < 460px) {
  .empty-product_img {
    height: 220px;
    object-fit: fill;

  }

}

@media(width < 450px) {

  .electronik_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .electronik_list_item {
    flex: 1 0 150px;
  }
}