/* ? section style ======================================================================= */
.electronik_content-text {
  font-size: 24px;
  margin-bottom: 1em;
}

.empty-product_list {
  margin-top: 1em;
}

.empty-product_list:first-child {
  margin-top: 0;
}

.electronik_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.electronik_list_item {
  max-width: 250px;
  width: 100%;
  flex: 1 1 auto;
  border: 1px solid #0000001A;
  border-radius: 20px;
  padding: 10px;
  transition: border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    -webkit-box-shadow: 0px 4px 41px -9px rgba(34, 60, 80, 0.44);
    -moz-box-shadow: 0px 4px 41px -9px rgba(34, 60, 80, 0.44);
    box-shadow: 0px 4px 41px -9px rgba(34, 60, 80, 0.44);
  }
}

.empty-item_content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.empty-product_img {
  width: 100%;
  height: 270px;
  /* border: 1px solid black; */
  border-radius: 14px;
  object-fit: cover;
}

.empty-product_name {
  font-size: 20px;
}

.empty-about_product_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.empty-price_list {
  list-style: none;
  line-height: 10px;
}

.empty-price_list_wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px;
}

.empty-old_price {
  color: #999;
  font-size: 14px;
  text-decoration: line-through;
  font-weight: 400;
}

.empty-price_discount {
  background: red;
  color: white;
  padding: 2px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}

.empty-new_price {
  color: #ff4444;
  font-size: 20px;
  font-weight: bold;
}

.empty-product_buy {
  /* width: 70px; */
  background: #233c66;
  transition: border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 16px;
  color: #91c153;
}