* {
  transition: all .3s ease;
}

.products_section {
  margin-top: 1em;
}

.product_wrapper {
  display: flex;
  gap: 1.2em;
}

.product_imgs_content {
  display: flex;
  flex: 0;
  gap: 1em;
}

.img_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 0 120px;
  /* border: 1px solid black; */
}

.img_list_item {
  flex: 1;
  border: 1px solid #0000002A;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: fill;

  img {
    flex: 1;
    width: 100%;
    /* object-fit: cover; */
    border-radius: 10px;
    /* border: 1px solid black; */
  }
}

.is-selected_img {
  border: 1px solid #000000A2;
}

.selected_img-block {
  border: 1px solid #000000A2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;

  img {
    width: 100%;
    height: 100%;
  }
}

.product_title_content {
  border: 1px solid #0000002A;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 10px;
}

.product_description_list,
.color_block,
.chooseSize_block {
  flex: 1;
}

.product_description_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product_name {
  font-size: 2em;
  font-weight: 800;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  line-height: 1;
}

.product_star {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 36px;
  color: red;

  p {
    color: #000000A5;
    font-size: .6em;

    span {
      font-size: 1em;
      color: black;
    }
  }
}

.product_price_list {
  display: flex;
  align-items: center;
  gap: 1em;
  font-weight: 700;
}

.product_newPrice {
  font-size: 1.2em;
}

.product_oldPrice {
  font-size: 1.2em;
  text-decoration: line-through;
  color: #999;
}

.product_discount {
  color: red;
  background: #FFEBEB;
  font-size: 1em;
  padding: 4.5px 6px 4px 8px;
  border-radius: 10px;
  text-align: center;
}

.product_fullname {
  font-size: 14px;
  color: #676666;
  display: flex;
  flex-wrap: wrap;
}


.block_name {
  color: #000000A2;
  margin-bottom: 5px;
}

.selected_color_list,
.selected_Size_list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.selected_color_item {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark_brown {
  background: #4F4631;
}

.dark_birch {
  background: #314F4A;
}

.dark_blue {
  background: #31344F;
}

.selected_Size_item {
  border: 1px solid #0000002A;
  padding: 6px 10px;
  border-radius: 10px;
  transition: all .3s ease;
  cursor: pointer;
}

.choose_size {
  color: #91c153;
  background: #233c66;
}

.btn_oneMore {
  display: flex;
  align-items: center;
  gap: 1em;
  background: #f0f0f0;
  padding: 5px 10px;
  border-radius: 10px;

  button {
    border: none;
    outline: none;
    padding: 5px 10px 0px;
    cursor: pointer;
  }
}

.add_cart {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease;

}

.active_add-cart {
  background: #233c66;
  color: #91c153;
}

/* @media(width < 1110px) {

  .product_imgs_content {
    display: flex;
    flex: 0;
    gap: 1em;
    height: 400px;
  }


  .img_list_item {
    flex: 1;
    height: 100px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .selected_img-block {
    width: 300px;
  }

}

@media (width < 970px) {} */

/* @media (width < 1074px) {
  .product_imgs_content {
    display: flex;
    flex: 1;
    gap: 1em;
    height: 400px;
  }

  .img_list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1 0 120px;
  }

  .img_list_item {
    flex: 1;
    border: 1px solid #0000002A;
    border-radius: 10px;
  }

  .is-active {
    border: 1px solid #000000A2;
  }

  .selected_img {
    flex: 0 0 300px;
    border: 1px solid #000000A2;
    border-radius: 10px;
  }
} */


@media (max-width: 1200px) {

  .product_imgs_content {
    align-items: stretch;
    gap: 14px;
  }

  .selected_img-block {
    width: 320px;
    aspect-ratio: 1 / 1.1;
  }

  .img_list {
    gap: 12px;
  }

  /* .img_list_item {} */
}

@media (max-width: 900px) {

  .product_imgs_content {
    gap: 12px;
  }

  .selected_img-block {
    width: 280px;
  }

  .img_list {
    gap: 10px;
  }

  /* .img_list_item {} */
}


@media (max-width: 820px) {

  .product_imgs_content {
    flex-direction: column-reverse;
  }

  .selected_img-block {
    width: 100%;
    height: 240px;
  }

  .img_list {
    flex-direction: row;
    justify-content: center;
  }

  .img_list_item {
    /* flex: 0 0 auto; */
    width: 80px;
    height: 80px;
  }
}


@media (max-width: 657px) {
  .product_wrapper {
    flex-direction: column;
  }

  .product_imgs_content {
    flex-direction: row;
  }

  .selected_img-block {
    height: 100%;
  }

  .img_list {
    flex-direction: column;
  }

  .img_list_item {
    width: 100%;
    height: 100%;
  }
}

@media (width < 500px) {
  .product_wrapper {
    flex-direction: column;
  }

  .product_imgs_content {
    flex-direction: column-reverse;
  }

  .selected_img-block {
    width: 360px;
    height: 395px;
    margin: 0 auto;
  }

  .img_list {
    flex-direction: row;
  }

  .img_list_item {
    height: 140px;
  }
}