.empty-dialog {
  margin: 0 auto;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.20);
  position: fixed;
  top: 12%;

  &::backdrop {
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(.1px);
  }
}

.empty_dialog_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.empty-dialog_close {
  cursor: pointer;
  height: 31px;
  border: none;
  outline: none;
  background: none;
}

/* @media(width < ) {

} */