.empty-dialog {
  margin: 0 auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.20);
  position: fixed;
  top: 12%;

  &::backdrop {
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(.1px);
  }
}

.empty_dialog_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; 

  h2 {
    /* font-size: 1.1em; */
  }
}

.empty-dialog_close {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  /* padding: 1px; */
}

/* @media(width < ) {

} */